.centered {
    text-align: center;
}

.date-box {
    display: inline-block;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
}

.date-header {
    background-color: #333;
    padding: 5px;
    color: white;
}

.matches-container {
    background-color: #f5f5f5;
    padding: 10px;
}

.match {
    margin-bottom: 10px;
    font-size: 24px;
}

.match a {
    text-decoration: none;
    color: #555;
}